
    <li class= "list-group-item"  [ngClass]="{'list-group-item-success': post.loveIts >0, 'list-group-item-danger': post.loveIts < 0}">
      <h4>{{ post.title }}</h4><br>
      {{ post.content }}<br><br>
      Nombre de likes: {{ post.loveIts }}<br>
      Créé le: {{ post.createdAt | date: 'dd/MM/y à h:mm a' }}<br>
      <button class="btn btn-success" (click)= "loveIt(post)">I love it!</button>
      <button class="btn btn-danger" (click)= "dontLoveIt(post)"> Don't love it...</button>
    </li>
 
